* {
  box-sizing: border-box;
}

html {
  /* Compensate for mobile address bar. Need the same on <body> */
  height: 100%;
}

body {
  margin: 0;

  display: grid;
  grid-template-columns: 30ch 1fr;
  grid-template-rows: 1fr;
  
  height: 100%;
}

.overlay {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.overlay > * {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

section {
  display: flex;

  --direction: to right,;
}

article {
    /* Center... 'cuz css */ 
  margin: auto;
  
  /* Make a grey circle out of a transparent box */
  width: 10rem;
  height: 10rem;
  background-color: grey;
  border-radius: 50%;
}

@media screen and (orientation: portrait) {
  section {
    flex-direction: column;
    --direction: ;
  }
}