body {
  margin: 0;
}

main {
  display: flex;
  height: 100vh;
}

article {
  width: 25vmin;
  height: 25vmin;
  margin: auto;

  background-color: grey;
  border-radius: 50%;
}

.tissue {
  display: none;
}

@media screen and (orientation: portrait) {
  main {
    flex-direction: column;
  }
}